<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Item Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="done()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Description</ion-label>
      <ion-input type="text" [(ngModel)]="item.description"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <ion-button color="primary" round>Save</ion-button>
  </div>
</ion-content>
